/* 
############# 
## General ## 
############# 
*/
* {
    cursor: none;
    scroll-behavior: smooth;

    --main-color: #F1B4BB;
    --second-color: #FDF0F0;
    --main-color-bg: #101b38;
    --second-color-bg: #1F4172;
}

body {
    scroll-behavior: smooth;
    background-image: url(../res/img/background.png);
    background-size: cover;
    margin: 0;
    padding: 0;
    color: var(--main-color);
    display: flex;
    font-family: 'Poppins', sans-serif;
    flex-direction: column;

}

a {
    color: var(--main-color);
    text-decoration: none;
}

section {
    min-height: 100vh;
    background-color: #101b3875;
}

.home {
    background: linear-gradient(180deg, #1f427200 50%, #101b3875 100%);
}



section .reveal {
    opacity: 0;
    transform: translateY(-40%);
    transition: 0.5s ease-in-out;
}
section .reveal.active {
    opacity: 1;
    transform: translateY(0%);
    
}
h1 {
    font-size: 3rem;
    margin: 0;
    padding: 0;
    font-weight: 800;
    text-transform: uppercase;
} 

h1 span {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 2px var(--main-color);
}


/* 
###########
## TITLE ##
###########
*/
.home .container h1 {
    position: relative;
    font-size: 8rem;
    margin-bottom: 0;
    letter-spacing: -4px;

    color: rgba(0, 0, 0, 0);
}

.home .container h1::before {
    text-wrap: nowrap;
    content: "HEY! I'M TIDIC";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 2px var(--main-color);

    animation: animate 3s ease forwards;
    overflow: hidden;
}
.home .container h1::after {
    text-wrap: nowrap;
    content: "HEY! I'M";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    color: var(--main-color);
    -webkit-text-stroke: 0px;
    animation: animate 2s ease-in-out forwards;
    overflow: hidden;
}

@keyframes animate {
    to {
        width: 100%;
        height: 100%;
    }
}

/* Description */

.home .container .title_desc_container {
    overflow: hidden;
}

.home .container .title_desc {
    display: block;
    margin-top: 0;
    color: var(--second-color);
    opacity: 0;
    text-transform: uppercase;
    text-align: center;

    overflow: hidden;
    transform: translateY(-100%);
    animation: slideReveal 2s ease forwards;
}

@keyframes slideReveal {
    100% {
        transform: translateY(0%);
        opacity: 0.5;
    }
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    flex-direction: column;
    margin-top: 15rem;

}

.home .container outline {
    color: rgba(0, 0, 0, 0);
    -webkit-text-stroke: 2px var(--second-color);
}

/* 
############ 
## Cursor ## 
############ 
*/
.cursor-dot {
    width: 10px;
    height: 10px;
    background-color: var(--second-color);
    z-index: 9999;
}

.cursor-outline {
    width: 40px;
    height: 40px;
    border: 2px solid var(--second-color);
    transition: 0.3s ease;
    z-index: 9998;

}

.cursor-dot, .cursor-outline {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: difference;
    opacity: 0;
}