* {
    margin: 0;
    --main-color: #7D51FC;
    --text-color: white;
    --main-bg-color: #0C0C0C;
    --secondary-bg-color: #151515;
}

body {
    background-color: black;
    color: #00fA00;
    font-family: monospace;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.container {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container p {
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: type 5s steps(50, end), caret-blink .8s ease infinite;

}

.cursor {
    animation: cursor 1s steps(50, end) infinite;
}

@keyframes type {
    0% {
        width: 0;
        border-right: 5px solid #00fA00;
    }

    99% {
        border-right: 5px solid #00fA00;
    }
    100% {
        width: 100%;
        border-right: 5px solid transparent;
    }
}

@keyframes cursor {
    0% {
        border-right: 5px solid #00fA00;
    }

    50% {
        border-right: 5px solid transparent;
    }

    100% {
        border-right: 5px solid #00fA00;
    }
}

@keyframes arrow {
    0% {
        transform: translateX(-50%) translateY(-10px);
    }
    25% {
        transform: translateX(-50%) translateY(0px);
    }
    50% {
        transform: translateX(-50%) translateY(10px);
    }
    75% {
        transform: translateX(-50%) translateY(0px);
    }
    100% {
        transform: translateX(-50%) translateY(-10px);
    }

}
.section1 .arrow {
    position: absolute;
    bottom: 250px;
    left: 50%;
    transform: translateX(-50%) translateY(-10px);
    animation: arrow 1.5s step-end infinite;
}

.section1 {
    background-color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section2 {
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%,  var(--main-bg-color) 100%);
    color: rgb(19, 83, 167);
    height: 25vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3 {
    background-color: var(--main-bg-color);
    color: black;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}